
@font-face {
  font-family: Header;
  src: url(../fonts/DroidSans.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Header-Bold;
  src: url(../fonts/DroidSans-Bold.ttf);
  font-weight: Bold;
  font-style: normal;
}