@import "_mixins";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// * 1: Computes to 10px by the browsers so we can use rem the nice way
// * 2: Specifies a size adjustment for displaying text content on smartphones.
// * 3: Improve text-rendering in Webkit browsers and firefox on OSX.
// * 4: Set the kerning and ligatures for current and future browsers.
//      Smashing Booke #4 Chapter 9.

html {
  height: 100%;
  font-size: 62.5%; // * 1 *
  @include text-adjust; // * 2 *
  @include font-smoothing; // * 3 *
  @include font-kerning; // * 4 *
  @include font-feature-settings; // * 4 *
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-size: 1.8rem;
  color: $c-text;
  line-height: 2.2rem;
  background: url(../img/bg.png);
}

a {
  color: $c-main;
  @include transition(color 0.25s);
  &:hover { color: $c-hover }

  h2 &,
  h3 &,
  h4 &,
  h5 &,
  h6 & { text-decoration: none; }
}

p {
  margin-top: 0;
  margin-bottom: 18px;
}

blockquote {
  position: relative;
  margin-left: 0;
  padding-left: 35px;
  font: {
    weight: normal;
    style: italic;
    size: 2rem;
    weight: bold;
  }

  &:before {
    position: absolute;
    top: 12px;
    left: 0;
    font-size: 6rem;
    content: open-quote;
    color: $c-main;
  }
}

cite {
  display:block;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
}

%generic-h {
  margin-top: 0;
  font-family: $font-headers;
  font-weight: normal;
  color: $c-main;
  line-height: 100%;
}

// Generate headings
@for $i from 1 through 6 {
  h#{$i} {
    @extend %generic-h;

    @if ($i == 1) {
      font-size: 4.6rem;
    }
    @else {
      font-size: 3.8rem - (3 * $i / 10);
    }
  }
}

h1,
h2 { margin-bottom: 15px; }

h3,
h4,
h5,
h6 { margin-bottom: 0; }

.visualwrapper {
  width: 100%;
  max-width: 1700px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(#000, 0.25);
}

figure {
  margin: 0;
  text-align: center;

  img {
    display: inline-block;
    border: 10px solid #fff;
    box-shadow: 0 0 8px 0 rgba($c-text, 0.6);
    max-width: 100%;
  }

  figcaption {
    margin-top: 5px;
    font-style: italic;
    font-size: 1.5rem;
    color: lighten($c-text, 30%);
  }

  + p { margin-top: 2rem; }
}

// Breakpoints
// -----------
@include mq-max(467) {
    .visualwrapper { padding: 100px 30px 10px 30px; }
}

@include mq-min(467) {
  .visualwrapper { padding: 36px 20px; }
}

// @End breakpoints
// ----------------

@import "_fonts";