@mixin reset-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


// Mixins for flexbox layout
@mixin flexbox {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-justify-content($value) {
  -ms-justify-content: $value;
  -moz-justify-content: $value;
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}