@mixin reset-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin header-shadow {
  background: -webkit-gradient(linear, left bottom, left top,
          color-stop(0%,rgba(4,105,120,1)),
          color-stop(5px,rgba(4,105,120,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom,
        rgba(4,105,120,1) 0%,
        rgba(4,105,120,0) 5px); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to top,
        rgba(4,105,120,0.7) 0%,
        rgba(4,105,120,0) 5px); /* W3C */
}

// Mixins for flexbox layout
@mixin flexbox {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-justify-content($value) {
  -ms-justify-content: $value;
  -moz-justify-content: $value;
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}