$c-bg: #222930;
$c-text: #fff;
$c-header: #f7a14d;
$c-selected: rgba($c-bg, 0.1);
$color-maintitle: $c-header;
$color-subtitle: #a9a9a9;
$c-code: lighten($c-bg, 10%);
// $c-shadow: #4d5155;
$c-shadow: #000;
// $font-main: 'droidsans', arial, sans-serif;
$font-main: ssp-l, arial, sans-serif;
$font-headers: 'leaguegothic', arial, sans-serif;

$code-indent: 12px;

$w-touch: 40px;
 $w-menu: 230px;