@import "fonts";

$color-text: #2d2d2d;
$color-header: #00a4bc;
$color-selected: #057b8c;
$color-maintitle: #f7a14d;

$font-main: 'droidsans', arial, sans-serif;
$font-headers: 'leaguegothic', arial, sans-serif;