@import "_variables";
@import "_placeholders";
@import "_mixins";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// * 1: Computes to 10px by the browsers so we can use rem the nice way
// * 2: Specifies a size adjustment for displaying text content on smartphones.
// * 3: Improve text-rendering in Webkit browsers and firefox on OSX.
// * 4: Set the kerning and ligatures for current and future browsers.
//      Smashing Booke #4 Chapter 9.

html {
  height: 100%;
  font-size: 62.5%; // * 1 *
  @include text-adjust; // * 2 *
  @include font-smoothing; // * 3 *
  @include font-kerning; // * 4 *
  @include font-feature-settings; // * 4 *
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-size: 1.6rem;
  color: $c-text;
  line-height: 2rem;
  background: url(../img/bg.png);
}

// Generate headings
@for $i from 1 through 6 {
  h#{$i} {
    @extend %generic-h;

    @if ($i == 1) {
      font-size: 24px;
    }

    @else if ($i == 2 or $i == 3) {
      font-size: 24px - (2 *$i);
    }
    @else {
      font-size: 16px;
    }
  }
}

a {
  color: $c-main;
  &:hover { color: darken($c-main, 15%) }
}

p {
  margin-top: 0;
  margin-bottom: 18px;
}

blockquote {
  font-style: italic;
  font-size: 2rem;
  color: rgb(245, 190, 136);;
  font-weight: bold;
}

figure {
  @include mq-min(500px) {
    padding: 8px;
  }

  img {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
  }

  figcaption {
    font-style: italic;
    text-align: right;
  }
}

.visualwrapper {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 36px 20px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(#000, 0.25);
}

// Menu
// ----
// [role="navigation"] {
//   position: relative;
//   font-size: 1.8rem;
//   font-family: $font-menu;
// }

// @include mq-max(465) {
//   [role="menuitem"] {
//     display: block;
//   }
// }

// [role="menuitem"] {
//   text-decoration: none;
// }

// // Show the main menu horizontal with the gradient border top + bottom
// @include mq-min(465) {
//   [role="navigation"] {
//     margin-bottom: 36px;
//     padding: 10px 25px;
//     text-align: center;
//     &:before,
//     &:after {
//       position: absolute;
//       left: 0;
//       right: 0;
//       display: block;
//       height: 1px;
//       content: "";
//       @include gradient(left, to right,
//           rgba($c-main, 0) 0%,
//           $c-main 25%,
//           $c-main 75%,
//           rgba($c-main, 0) 100%);
//     }

//     &:before { top: 0; }
//     &:after { bottom: 0; }
//   }

//   [role="menuitem"] {
//     display: inline-block;
//     padding: 0 8px;
//     color: $c-main;

//     &.selected {
//       &:before { content: "{"; }
//       &:after { content: "}"; }
//     }
//   }
// }

// Give the blog icon a nice background color + border-radius and center it.
// .icon-blog {
//   display: block;
//   width: 121px;
//   height: 121px;
//   padding-top: 18px;
//   padding-left: 12px;
//   background-color: $c-header;
//   border: 2px solid $c-text;

//   &:before {
//     color: #fff;
//     font-size: 7.5rem;
//   }
// }


// Media queries block home
// ------------------------
// @include mq-max(464px) {
//   .block-home-visual { text-align: center; }
//   // .icon-blog { margin: 0 auto; }
// }

// @include mq-min(815px) {
//   .block-home-visual { text-align: center; }
//   // .icon-blog { margin: 0 auto; }
// }

// @include mq-min-max(465px, 814px) {
//   .block-home-visual {
//     float: left;
//     margin-right: 28px;
//   }
// }

// @include mq-max(814px) {
//   .block-home {
//     margin-bottom: 28px;
//     padding-left: 28px;
//     padding-right: 28px;
//     // @include clearfix;

//     h2 { margin-top: 15px; }
//   }
// }

// @include mq-min-max(815px, 1279px) {
//   .block-home { width: 28%; }
// }

// @include mq-min(1280px) {
//   .block-home { width: 18%; }
// }

// .columns-wrapper {
//   margin: 0 auto;
//   max-width: 746px + 230px;

//   @include mq-min(1304px) {
//       // @include transform(translateX(-160px));
//   }
// }

// =======
// CONTENT
// =======
// [role="main"],
// [role="article"] {
//   max-width: 746px;
//   padding: 28px;
//   background-color: rgba(#44484d, 0.7);

//   &:not(.column-content) {
//     margin: 28px auto 18px auto;
//   }

//   @include mq-min(700px) {
//     &.column-content {
//       margin: 28px 28px 18px 276px;
//     }
//   }

//   @include mq-max(699px) {
//     &.column-content {
//       margin: 28px auto 18px auto;
//     }
//   }

//   ul {
//     margin-left: 0;
//     padding-left: 18px;
//   }
// }

// .subtitle { font-size: 1.5rem; }

// .example-img {
//   text-align: center;

//   img {
//     max-width: 100%;
//     border: 10px solid rgba(#fff, 0.8);
//     // @include box-shadow(1px 1px 8px 0 #000);
//   }
// }

// Article list
// ------------
// [role="main"] [role="list"],
// .article_list {
//   @extend %reset-ul;
//   margin-top: 18px;

//   &.no-description a:not(.title) { font-weight: normal; }
//   [role="listitem"] { margin-bottom: 20px; }

//   .title {
//     display: block;
//     font-size: 2rem;
//     font-weight: bold;
//     letter-spacing: -0.1rem;
//     color: $color-maintitle;
//     line-height: 2.5rem;

//     &:after {
//       display: inline-block;
//       margin-left: 5px;
//       content: "›";
//     }

//     .speaker {
//       font-family: $font-main;
//       font-size: 1.6rem;
//       color: $c-text;
//     }
//   }
// }

// .rss-link {
//   float: right;
//   display: block;
//   width: 32px;
//   height: 32px;
//   border: none;

//   img { max-width: 100%; }
// }

// // Used as title of a listing
// .list_title {
//   font-family: $font-headers;
//   font-size: 2.8rem;
// }

// .list_title { margin: 35px 0 15px 0; }

// ============
// CODE STYLING
// ============
pre {
    position: relative;
    margin: 5px 10px 20px 10px;
    padding: 0;
    overflow: auto;
    background: #fff;
    white-space: normal;
    font-size: 1.2rem;
    // color: $c-code;
    border: 1px solid $c-shadow;

    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding: 8px 0;
      text-indent: 15px;
      color: #fff;
      font-family: $font-headers;
      font-weight: bold;
      font-size: 2rem;
      content: attr(rel);
      background-color: $c-header;
    }

    &[rel] {
      padding-top: 33px;
    }
}

code {
  display: block;
  overflow: auto;
  margin: 0;
  padding: 15px;
  white-space: pre;
  font-family: $font-code;
}

.comment { color: darken($color-subtitle, 18%); }

.code-indent,
.code-indent-2 {
  display: inline-block;
}

.code-indent { text-indent: $code-indent; }
.code-indent-2 { text-indent: $code-indent * 2; }
.boolean { color: $color-maintitle; }
.number { color: $c-header; }

.language-css {
  .selector { color: #7a8622; }
  .property { color: #4c7cc1; }
}

.language-html {
  .attribute { color: #7a8622; }
  .tag { color: #4c7cc1; }
}

.python {
  .number,
  .statement { color: #7A8622; }
  .string { color: $color-maintitle; }

  .crispy-attribute {
    font-style: italic;
    color: #4976BC;
  }
}

// @End CODE STYLING
// =================

// ===========
// FORM STYLES
// ===========
label {
  display: inline-block;
  width: 150px;
}

fieldset {
  border: none;
  margin-bottom: 20px;
}

legend {
  color: $c-main;
  font-size: 2rem;
  font-weight: bold;
}

input[type="text"] {
  border: none;
  width: 200px;
  height: 25px;
  padding: 4px 8px;
  border-radius: 2px;
}

.field { margin-bottom: 10px; }

// @END FORM STYLES
// ================

// ==============
// ERROR MESSAGES
// ==============

.messages-block {
  position: relative;
  margin: 0 auto;
  width: 130px;
  padding: 35px 0;
  text-align: center;
  font-family: $font-headers;
  font-size: 5rem;
  color: $c-main;
  background: rgba(#000, 0.2);
  border-radius: 10px;

  // Arrow
  &:before {
    position: absolute;
    top: -14px;
    left: -1px;
    display: block;
    content:"";
    width: 0;
    height: 0;
    border: {
      width: 0 8px 18px 8px;
      style: solid;
      color: transparent transparent #2f3337 transparent;
    }
    // @include transform(rotate(-15deg));
  }
}
// @End ERROR MESSAGES
// ===================

// =============
// ABOUT ME PAGE
// =============
.photos {
  position: relative;
  height: 286px;
}

.photo-side,
.photo-front {
  position: absolute;
  max-width: 100%;
  border: 10px solid #fff;
  // @include box-shadow(1px 1px 8px 0 #000);
}

.photo-side {
  top: 20px;
  // @include transform(rotate(5deg));

  &:nth-of-type(2) { right: 0; }
}

.photo-front {
  top: 10px;
  left: 50%;
  margin-left: -(278/2) * 1px;
}

//@End ABOUT ME PAGE
// =================

// // ========
// // SUBMENU
// // ========
// .desktop-menu {
//   width: $w-menu;
//   float: left;
//   margin: 0 28px 18px 8px;
//   background-color: rgba(#44484d, 0.7);

//   @include mq-max(699px) {
//     display: none;
//   }
// }

// .desktop-menu,
// .mobile-menu {
//   li {
//     &:not(:first-of-type) { border-top: 1px solid rgba(#fff, 0.15); }
//     // &:not(:last-child) { border-bottom: 1px solid rgba($c-bg, 0.75); }
//   }
//   [role="menuitem"] {
//     position: relative;
//     display: block;
//     min-height: 32px;
//     padding: 4px 8px 4px 22px;
//     color: #fff;


//     &.selected,
//     &:hover {
//       text-decoration: none;
//       // background-color: darken($c-selected, 10%);

//       &:before {
//         position: absolute;
//         left: 8px;
//         top: 2px;
//         color: #fff;
//         font-size: 2rem;
//         content: "{";
//       }
//     }
//   }
// }
// // ===========
// // MOBILE MENU
// // ===========

// .mobile-menu {
//   position: absolute;
//   top: 5px;
//   bottom: 0;
//   left: -$w-menu;
//   width: $w-menu;
//   background-color: rgba(#44484d, 0.7);
//   // @include transition(transform 0.5s ease-in);

//   &.show {
//     background-color: lighten(#44484d, 8%);
//     // @include transform(translateX($w-menu));
//     // box-shadow: 0 4px 6px $c-bg;
//   }

//   @include mq-min(700px) {
//     display: none;
//   }
// }

// [role="menu"] {
//   @extend %reset-ul;
// }

// .submenu [role="menuitem"] {
//   padding-left: 30px;

//   &.selected,
//   &:hover {
//     &:before {
//       left: 16px;
//       content: "";
//     }
//   }
// }

// .menu-title {
//   position: absolute;
//   top: 0;
//   right: -$w-touch;
//   width: $w-touch;
//   height: $w-touch;
//   padding-top: 6px;
//   color: #fff;
//   font-size: 2.4rem;
//   cursor: pointer;
//   text-align: center;
//   background-color: rgba(#44484d, 0.3);
//   border-radius: 0 4px 4px 0;
//   // @include transition(background-color 0.5s ease-in);

//   &:hover { background-color: lighten(#44484d, 8%); }

//   .show & {
//     background-color: lighten(#44484d, 8%);
//     // box-shadow: 3px 0px 6px -3px $c-bg;
//   }
// }

// @END SUBMENU + CONTENT
// ======================

@import "fonts";