@import "variables";
@import "mixins";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// * 1: Computes to 10px by the browsers so we can use rem the nice way
// * 2: Specifies a size adjustment for displaying text content on smartphones.
// * 3: Improve text-rendering in Webkit browsers and firefox on OSX.

html {
  font-size: 62.5%; // * 1 *
  -ms-text-size-adjust: 100%; // * 2 *
  -webkit-text-size-adjust: 100%; // * 2 *
  -webkit-font-smoothing: antialiased; // *3
  -moz-osx-font-smoothing: grayscale; // *3
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  font-size: 1.7rem;
  color: $c-text;
  line-height: 2.1rem;
  background: url(../img/bg.jpg) $c-bg;
  background-attachment: fixed;

  @media (max-width: 500px) {
    font-size: 1.7rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headers;
}

h1 {
  font-size: 3.5rem;
  margin-top: 28px;
  margin-bottom: 0;
  color: $color-maintitle;
  text-shadow: 1px 1px 3px $c-shadow;
}

h2 {
  font-size: 3rem;
  margin-top: 21px;
  margin-bottom: 0;
  color: $color-maintitle;
  text-shadow: 1px 1px 2px $c-shadow;
}

h3,
h4,
h5,
h6 { font-size: 2.6rem; }

h4,
h5,
h6 { margin-bottom: 0; }

a {
  color: $c-header;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

p {
  margin-top: 18px;
  margin-bottom: 0;
}

blockquote {
  font-style: italic;
  font-size: 2rem;
  color: $c-header;
  font-weight: bold;
}


figure {
  padding: 8px;

  img {
    display: inline-block;
    margin: 0 auto;
    border: 2px solid lighten($c-bg, 15%);
  }

  figcaption {
    font-style: italic;
    text-align: right;
  }
}

// ===========
// HEADER MENU
// ===========
.header-menu {
  height: 50px;
  padding: 0 0 0 10%;
  background-color: $color-maintitle;

  ul { @include reset-ul; }
  li { display: inline-block; }
  a { text-decoration: none; }
}

.header-menu-item {
  display: inline-block;
  height: 50px;
  padding: 14px 15px;
  font-family: $font-headers;
  font-size: 2.7rem;
  letter-spacing: 0.05rem;
  color: #fff;

  &.selected,
  &:hover {
    background-color: $c-selected;
    @include transition(background-color, 0.5s, ease-in);
  }
}

// =======
// MY NAME
// =======
.my-name {
  position: absolute;
  right: 10%;
  top: 12px;
  font-family: $font-main;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;

  &:before,
  &:after {
     font-family: $font-main;
     font-size: 2.4rem;
  }

  &:before {
    content: "{";
    padding-right: 2px;
  }

   &:after {
    content: "}";
    padding-left: 2px;
  }
}

// flexible boxes on the homepage
.flexible {
  @include flexbox;
  @include flex-justify-content(space-around);
  margin-top: 40px;
}

.block-home {
  @media screen and (max-width: 1279px) {
    width: 28%;
  }
  @media screen and (min-width: 1280px) {
    width: 18%;
  }

  .visual {
    height: 120px;
    text-align: center;

    // Give the blog icon a nice background color + border-radius and center it.
    .icon-blog {
      display: block;
      margin: 0 auto;
      width: 121px;
      height: 121px;
      padding-top: 18px;
      padding-left: 12px;
      background-color: $c-header;
      border: 2px solid $c-text;
    }

    .icon-blog:before {
      color: #fff;
      font-size: 7.5rem;
    }
  }

  &.portrait {
    width: 121px;
    height: 121px;
    border: 2px solid $c-text;
  }
}

// =======
// CONTENT
// =======
[role="main"],
article {
  max-width: 746px;
  margin: 0 auto 18px auto;
  padding: 0 18px 18px 0;
}
.subtitle { font-size: 1.5rem; }

// Article list
// ------------
.article_list {
  @include reset-ul;
  margin-top: 18px;

  &.no-description a:not(.title) { font-weight: normal; }
  .item { margin-bottom: 20px; }

  // Used as title of a listing
  .list_title {
    font-family: $font-headers;
    font-size: 2.8rem;
    margin: 35px 0 15px 0;
  }

  .title {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    color: $color-maintitle;
    line-height: 2.5rem;

    &:after {
      display: inline-block;
      margin-left: 5px;
      content: "›";
    }

    .speaker {
      font-family: $font-main;
      font-size: 1.6rem;
      color: $c-text;
    }
  }
}

// ============
// CODE STYLING
// ============
pre {
    position: relative;
    margin: 5px;
    padding: 0;
    overflow: auto;
    background: lighten($color-subtitle, 32%);
    white-space: normal;
    font-size: 1.2rem;
    color: $c-code;
    border: 1px solid $c-shadow;
}
code {
    display: block;
    overflow: auto;
    margin: 0;
    padding: 15px;
    white-space: pre;
    font-family: monospace, sans-serif;
}
.comment { color: darken($color-subtitle, 10%); }

.code-indent {
    display: inline-block;
    text-indent: $code-indent;
}
.code-indent-2 {
    display: inline-block;
    text-indent: $code-indent * 2;
}
.boolean { color: $color-maintitle; }
.number { color: $c-header; }
