h1, h2, h3, h4, h5, h6 {
  font-family: slabo, arial, helvetica, sans-serif;
  font-weight: normal;
  color: #e65f2d;
  line-height: 100%; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern"; }

body {
  margin: 0;
  padding: 0;
  font-family: ssp, arial, helvetica, sans-serif;
  font-size: 1.6rem;
  color: #3c4946;
  line-height: 2rem; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 16px; }

a {
  color: #e65f2d;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

p {
  margin-top: 0;
  margin-bottom: 18px; }

blockquote {
  font-style: italic;
  font-size: 2rem;
  color: #f5be88;
  font-weight: bold; }

@media screen and (min-width: 500px) {
  figure {
    padding: 8px; } }
figure img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%; }
figure figcaption {
  font-style: italic;
  text-align: right; }

.visualwrapper {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px; }

footer {
  position: fixed;
  bottom: 0;
  width: 50%;
  max-width: 800px;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  background-color: #e65f2d;
  background: -webkit-linear-gradient(top, #e65f2d 0%, #c6491a 100%);
  background: -o-linear-gradient(top, #e65f2d 0%, #c6491a 100%);
  background: -ms-linear-gradient(top, #e65f2d 0%, #c6491a 100%);
  background: linear-gradient(to bottom, #e65f2d 0%, #c6491a 100%); }

.my-name {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold; }

[role="navigation"] {
  position: relative;
  width: 160px;
  height: 150px;
  margin: 0 auto;
  -ms-transform: translateX(25%);
  -webkit-transform: translateX(25%);
  transform: translateX(25%);
  font-family: arvo, arial, helvetica, sans-serif; }

[role="menuitem"] {
  position: absolute;
  display: block;
  width: 72px;
  height: 72px;
  font-size: 1.4rem;
  color: #fff;
  background-color: #e65f2d;
  background: -webkit-linear-gradient(top, #e65f2d 0%, #c6491a 100%);
  background: -o-linear-gradient(top, #e65f2d 0%, #c6491a 100%);
  background: -ms-linear-gradient(top, #e65f2d 0%, #c6491a 100%);
  background: linear-gradient(to bottom, #e65f2d 0%, #c6491a 100%);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }
  [role="menuitem"] .menu-text {
    display: block;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  [role="menuitem"]:nth-child(1) .menu-text {
    margin-left: -9px;
    padding-top: 24px; }
  [role="menuitem"]:nth-child(2) {
    top: 57px;
    left: -58px; }
    [role="menuitem"]:nth-child(2) .menu-text {
      margin-left: 2px;
      padding-top: 21px; }
  [role="menuitem"]:nth-child(3) {
    top: 57px;
    left: 58px; }
    [role="menuitem"]:nth-child(3) .menu-text {
      padding-top: 24px;
      margin-left: -8px; }
  [role="menuitem"]:nth-child(4) {
    top: 114px; }
    [role="menuitem"]:nth-child(4) .menu-text {
      margin-left: 10px;
      padding-top: 17px; }

pre {
  position: relative;
  margin: 5px 10px 20px 10px;
  padding: 0;
  overflow: auto;
  background: #fff;
  white-space: normal;
  font-size: 1.2rem;
  border: 1px solid #000; }
  pre:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 8px 0;
    text-indent: 15px;
    color: #fff;
    font-family: slabo, arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    content: attr(rel);
    background-color: #f7a14d; }
  pre[rel] {
    padding-top: 33px; }

code {
  display: block;
  overflow: auto;
  margin: 0;
  padding: 15px;
  white-space: pre;
  font-family: droidsansmono, arial, helvetica, sans-serif; }

.comment {
  color: #7b7b7b; }

.code-indent,
.code-indent-2 {
  display: inline-block; }

.code-indent {
  text-indent: 12px; }

.code-indent-2 {
  text-indent: 24px; }

.boolean {
  color: #f7a14d; }

.number {
  color: #f7a14d; }

.language-css .selector {
  color: #7a8622; }
.language-css .property {
  color: #4c7cc1; }

.language-html .attribute {
  color: #7a8622; }
.language-html .tag {
  color: #4c7cc1; }

.python .number,
.python .statement {
  color: #7A8622; }
.python .string {
  color: #f7a14d; }
.python .crispy-attribute {
  font-style: italic;
  color: #4976BC; }

label {
  display: inline-block;
  width: 150px; }

fieldset {
  border: none;
  margin-bottom: 20px; }

legend {
  color: #e65f2d;
  font-size: 2rem;
  font-weight: bold; }

input[type="text"] {
  border: none;
  width: 200px;
  height: 25px;
  padding: 4px 8px;
  border-radius: 2px; }

.field {
  margin-bottom: 10px; }

.messages-block {
  position: relative;
  margin: 0 auto;
  width: 130px;
  padding: 35px 0;
  text-align: center;
  font-family: slabo, arial, helvetica, sans-serif;
  font-size: 5rem;
  color: #e65f2d;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px; }
  .messages-block:before {
    position: absolute;
    top: -14px;
    left: -1px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-width: 0 8px 18px 8px;
    border-style: solid;
    border-color: transparent transparent #2f3337 transparent; }

.photos {
  position: relative;
  height: 286px; }

.photo-side,
.photo-front {
  position: absolute;
  max-width: 100%;
  border: 10px solid #fff; }

.photo-side {
  top: 20px; }
  .photo-side:nth-of-type(2) {
    right: 0; }

.photo-front {
  top: 10px;
  left: 50%;
  margin-left: -139px; }

@font-face {
  font-family: arvo;
  src: url("../fonts/Arvo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: droidsansmono;
  src: url("../fonts/DroidSansMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: slabo;
  src: url("../fonts/Slabo27px-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: ssp;
  src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: ssp;
  src: url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: ssp;
  src: url("../fonts/SourceSansPro-SemiboldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: ssp;
  src: url("../fonts/SourceSansPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

/*# sourceMappingURL=base.css.map */
