@charset "UTF-8";
@font-face {
  font-family: 'droidsans';
  src: url("../fonts/DroidSans-webfont.eot");
  src: url("../fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-webfont.woff") format("woff"), url("../fonts/DroidSans-webfont.ttf") format("truetype"), url("../fonts/DroidSans-webfont.svg#droid_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droidsans';
  src: url("../fonts/DroidSans-Bold-webfont.eot");
  src: url("../fonts/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-Bold-webfont.woff") format("woff"), url("../fonts/DroidSans-Bold-webfont.ttf") format("truetype"), url("../fonts/DroidSans-Bold-webfont.svg#droid_sansbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'leaguegothic';
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'leaguegothic';
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'leaguegothic';
  src: url("../fonts/leaguegothic-italic-webfont.eot");
  src: url("../fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-italic-webfont.woff") format("woff"), url("../fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-italic-webfont.svg#league_gothicitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mvt-icons';
  src: url("../fonts/mvt-icons.eot?i1d32");
  src: url("../fonts/mvt-icons.eot?#iefixi1d32") format("embedded-opentype"), url("../fonts/mvt-icons.woff?i1d32") format("woff"), url("../fonts/mvt-icons.ttf?i1d32") format("truetype"), url("../fonts/mvt-icons.svg?i1d32#mvt-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 75, ../../scss/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'mvt-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 89, ../../scss/_fonts.scss */
.icon-blog:before {
  content: "\e600";
}

/* line 5, ../../scss/base.scss */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../../scss/base.scss */
html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 22, ../../scss/base.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "droidsans", arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
  background-color: #fff;
}
@media (max-width: 500px) {
  /* line 22, ../../scss/base.scss */
  body {
    font-size: 1.7rem;
  }
}

/* line 40, ../../scss/base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "leaguegothic", arial, sans-serif;
}

/* line 44, ../../scss/base.scss */
h1 {
  font-size: 3.5rem;
  margin-top: 28px;
  margin-bottom: 0;
}

/* line 49, ../../scss/base.scss */
h2 {
  font-size: 3rem;
  margin-top: 21px;
  margin-bottom: 0;
}

/* line 58, ../../scss/base.scss */
h3,
h4,
h5,
h6 {
  font-size: 2.75rem;
}

/* line 60, ../../scss/base.scss */
a {
  text-decoration: none;
}

/* line 62, ../../scss/base.scss */
p {
  margin-top: 18px;
  margin-bottom: 0;
}

/* line 69, ../../scss/base.scss */
.header-menu {
  position: relative;
  height: 50px;
  padding: 0 0 0 10%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #20636c), color-stop(5px, rgba(32, 99, 108, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom, #20636c 0%, rgba(32, 99, 108, 0) 5px);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to top, #20636c 0%, rgba(32, 99, 108, 0) 5px);
  /* W3C */
  background-color: #438992;
}
/* line 77, ../../scss/base.scss */
.header-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 78, ../../scss/base.scss */
.header-menu li {
  display: inline-block;
}

/* line 81, ../../scss/base.scss */
.header-menu-item {
  display: inline-block;
  padding: 14px 15px;
  font-family: "droidsans", arial, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}
/* line 88, ../../scss/base.scss */
.header-menu-item.selected {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #20636c), color-stop(5px, rgba(32, 99, 108, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom, #20636c 0%, rgba(32, 99, 108, 0) 5px);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to top, #20636c 0%, rgba(32, 99, 108, 0) 5px);
  /* W3C */
  background-color: #34737b;
}

/* line 97, ../../scss/base.scss */
.my-name {
  position: absolute;
  right: 10%;
  top: 12px;
  font-family: "droidsans", arial, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}
/* line 106, ../../scss/base.scss */
.my-name:before, .my-name:after {
  font-family: "droidsans", arial, sans-serif;
  font-size: 2.4rem;
}
/* line 111, ../../scss/base.scss */
.my-name:before {
  content: "{";
  padding-right: 2px;
}
/* line 116, ../../scss/base.scss */
.my-name:after {
  content: "}";
  padding-left: 2px;
}

/* line 123, ../../scss/base.scss */
.flexible {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-justify-content: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-top: 40px;
}

@media screen and (max-width: 1279px) {
  /* line 129, ../../scss/base.scss */
  .block-home {
    width: 28%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 129, ../../scss/base.scss */
  .block-home {
    width: 18%;
  }
}
/* line 137, ../../scss/base.scss */
.block-home .visual {
  height: 120px;
  text-align: center;
}
/* line 142, ../../scss/base.scss */
.block-home .visual .icon-blog {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  padding-top: 12px;
  padding-left: 20px;
  background-color: #438992;
  border-radius: 100px;
}
/* line 153, ../../scss/base.scss */
.block-home .visual .icon-blog:before {
  color: #fff;
  font-size: 6.5rem;
}
/* line 159, ../../scss/base.scss */
.block-home.portrait {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

/* line 169, ../../scss/base.scss */
main {
  max-width: 746px;
  margin: 0 auto;
  padding: 0 18px;
}

/* line 177, ../../scss/base.scss */
.article_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 18px;
}
/* line 181, ../../scss/base.scss */
.article_list .item {
  margin-bottom: 20px;
}
/* line 185, ../../scss/base.scss */
.article_list .title {
  display: block;
  margin-bottom: 8px;
  padding-bottom: 2px;
  font-family: "leaguegothic", arial, sans-serif;
  font-size: 2.5rem;
  color: #ebd778;
  border-bottom: 1px solid #ebd778;
}
/* line 194, ../../scss/base.scss */
.article_list .title:after {
  display: inline-block;
  margin-left: 5px;
  content: "›";
}
