@font-face {
  font-family: 'droidsans';
  src: url("../fonts/DroidSans-webfont.eot");
  src: url("../fonts/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-webfont.woff") format("woff"), url("../fonts/DroidSans-webfont.ttf") format("truetype"), url("../fonts/DroidSans-webfont.svg#droid_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'droidsans';
  src: url("../fonts/DroidSans-Bold-webfont.eot");
  src: url("../fonts/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSans-Bold-webfont.woff") format("woff"), url("../fonts/DroidSans-Bold-webfont.ttf") format("truetype"), url("../fonts/DroidSans-Bold-webfont.svg#droid_sansbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'leaguegothic';
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'leaguegothic';
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'leaguegothic';
  src: url("../fonts/leaguegothic-italic-webfont.eot");
  src: url("../fonts/leaguegothic-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-italic-webfont.woff") format("woff"), url("../fonts/leaguegothic-italic-webfont.ttf") format("truetype"), url("../fonts/leaguegothic-italic-webfont.svg#league_gothicitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'mvt-icons';
  src: url("../fonts/mvt-icons.eot?i1d32");
  src: url("../fonts/mvt-icons.eot?#iefixi1d32") format("embedded-opentype"), url("../fonts/mvt-icons.woff?i1d32") format("woff"), url("../fonts/mvt-icons.ttf?i1d32") format("truetype"), url("../fonts/mvt-icons.svg?i1d32#mvt-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/_fonts\.scss}line{font-family:\0000375}}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'mvt-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/_fonts\.scss}line{font-family:\0000389}}
.icon-blog:before {
  content: "\e600";
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\000035}}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000314}}
html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000320}}
body {
  margin: 0;
  padding: 0;
  font-family: "droidsans", arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.1rem;
  background-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000334}}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "leaguegothic", arial, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000338}}
h1 {
  font-size: 3.5rem;
  margin-top: 28px;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000343}}
h2 {
  font-size: 3rem;
  margin-top: 21px;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000352}}
h3,
h4,
h5,
h6 {
  font-size: 2.75rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000354}}
a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000356}}
p {
  margin-top: 18px;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000363}}
.header-menu {
  position: relative;
  height: 50px;
  padding: 0 0 0 10%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #20636c), color-stop(5px, rgba(32, 99, 108, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom, #20636c 0%, rgba(32, 99, 108, 0) 5px);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to top, #20636c 0%, rgba(32, 99, 108, 0) 5px);
  /* W3C */
  background-color: #438992;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000371}}
.header-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000372}}
.header-menu li {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000375}}
.header-menu-item {
  display: inline-block;
  padding: 14px 15px;
  font-family: "droidsans", arial, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000382}}
.header-menu-item.selected {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #20636c), color-stop(5px, rgba(32, 99, 108, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(bottom, #20636c 0%, rgba(32, 99, 108, 0) 5px);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to top, #20636c 0%, rgba(32, 99, 108, 0) 5px);
  /* W3C */
  background-color: #34737b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\0000391}}
.my-name {
  position: absolute;
  right: 10%;
  top: 12px;
  font-family: "droidsans", arial, sans-serif;
  font-size: 1.8rem;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\00003100}}
.my-name:before, .my-name:after {
  font-family: "droidsans", arial, sans-serif;
  font-size: 2.4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\00003105}}
.my-name:before {
  content: "{";
  padding-right: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\00003110}}
.my-name:after {
  content: "}";
  padding-left: 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\00003117}}
.flexible {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-justify-content: space-around;
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-top: 40px;
}

@media screen and (max-width: 1279px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\00003123}}
  .block__home {
    width: 28%;
  }
}
@media screen and (min-width: 1280px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\00003123}}
  .block__home {
    width: 18%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\00003133}}
.block__home_visual {
  height: 120px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\00003138}}
.block__home_visual .icon-blog {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  padding-top: 12px;
  padding-left: 20px;
  background-color: #438992;
  border-radius: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\00003149}}
.block__home_visual .icon-blog:before {
  color: #fff;
  font-size: 6.5rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/mirella\/Documents\/REPOS\/website\/scss\/base\.scss}line{font-family:\00003155}}
.block__home_portrait {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
