<div role="main">
    <h1>Oops</h1>
    <p>
        An internal server error occured. Try to reload the page or come back
        another time.
    </p>
    <div class="messages-block">500!</div>
</div>