<header class="header-menu">
  <nav role="navigation">
    <ul>
    <li>
        <a href="/" class="header-menu-item <%- source == 'index' ? 'selected' : '' %>">
         Home
       </a>
      </li>
      <li>
        <a href="/fronteers" class="header-menu-item <%- source == 'fronteers' ? 'selected' : '' %>">
         Fronteers
        </a>
      </li>
       <li>
        <a href="/blog" class="header-menu-item <%- source == 'blog' ? 'selected' : '' %>">
         Blog
        </a>
      </li>
       <li>
        <a href="/about.html" class="header-menu-item <%- source == 'about' ? 'selected' : '' %>">
         About me
        </a>
      </li>
    </ul>
  </nav>
  <span class="my-name">Mirella van Teulingen</span>
</header>