<div role="main" class="column-content">
  <h1>Fronteers Conference 2012</h1>
  <p>
    This was my first Fronteers conference. It was really awesome. Interesting talks and hang out with fellow front end developers. The conference was held at a great location (Tuschinski Theater, Amsterdam). Here you find my notes of this conference, so enjoy the reading and watching the video's.
  </p>
  <h2>Conference day 1, 4 October</h2>
  <ul role="list" class="conference-list">
    <li role="listitem">
      <h5>
        <a href="responsive-design.html" class="title">Adapting to Responsive Design</a>
      </h5>
      - Mark Boulton - Twitter: @markboulton - Video:
      <a href="http://vimeo.com/52450815">http://vimeo.com/52450815</a>
    </li>
    <li role="listitem">
      <h5>
        <a href="developer-toolbelt.html" class="title">The New And Improved Developer Toolbelt</a>
      </h5>
      - Addy Osmani - Twitter: @addyosmani - Video:
      <a href="http://vimeo.com/52450814">http://vimeo.com/52450814</a>
    </li>
    <li role="listitem">
      <h5>
        <a href="pixelisnotapixel.html" class="title">A Pixel is not a pixel</a>
      </h5>
      - Peter-Paul Koch - Twitter: @ppk - Video:
      <a href="Video: http://vimeo.com/52851511">http://vimeo.com/52851511</a>
    </li>
    <li role="listitem">
      <h5>
        <a href="styleguides.html" class="title">Style guides are the new Photoshop</a>
      </h5>
      - Stephen Hay - Twitter: @stephenhay - Video:
      <a href="http://vimeo.com/52851510">http://vimeo.com/52851510</a>
    </li>
    <li role="listitem">
      <h5>
        <a href="shortnotes.html#alexgraul" class="title">Using JS to build bigger, better datavis to enlighten and elate </a>
      </h5>
      - Alex Graul - Twitter: @alexgraul - Video:
      <a href="http://vimeo.com/52851512">http://vimeo.com/52851512</a>
    </li>
    <li role="listitem">
      <h5>
        <a href="shortnotes.html#mathiasbynens" class="title">Ten things I didn't know about HTML</a>
      </h5>
      - Mathias Bynens - Twitter: @mathias - Video:
      <a href="http://vimeo.com/52851509">http://vimeo.com/52851509</a>
    </li>
    <li role="listitem">
      <h5>
        <a href="accessability.html" class="title">Accessibility on the web</a>
      </h5>
      - Antoine Hegeman, Bor Verkroost, Bram Duvigneau &amp; Chris Heilmann - Video: <a href="http://vimeo.com/52882798">http://vimeo.com/52882798</a>
    </li>
    <li role="listitem">
      <h5>
        <a href="shortnotes.html#leaverou" class="title">More CSS secrets: Another 10 things you may
        not know about CSS </a>
      </h5>
      - Lea Verou - Twitter: @leaverou - Video:
      <a href="http://vimeo.com/52882799">http://vimeo.com/52882799</a>
    </li>
  </ul>
  <h2>Conference day 2, 5 October</h2>
  <ul role="list">
    <li role="listitem">
      <h3>
        <a href="os-aintfree.html" class="title">Open-source ain't free</a>
      </h3>
      - David DeSandro - Twitter: @desandro - Video:
      <a href="http://vimeo.com/53373707">http://vimeo.com/53373707</a>
    </li>
    <li role="listitem">
      <a href="statehtml5video.html" class="title">The State of HTML5 Video</a>
      - Jeroen Wijering - Video:
      <a href="http://vimeo.com/53317252">http://vimeo.com/53317252</a>
    </li>
    <li role="listitem">
      <a href="smellyourcms.html" class="title">I can smell your CMS</a>
      - Phil Hawksworth - Twitter: @philhawksworth - Video:
      <a href="http://vimeo.com/53317254">http://vimeo.com/53317254</a>
    </li>
    <li role="listitem">
      <a href="shortnotes.html#peternederhof" class="title">Beyond simple transitions, with a pinch of
        JavaScript
      </a>
      - Peter Nederlof - @peterlof - Video:
      <a href="http://vimeo.com/53317255">http://vimeo.com/53317255</a>
    </li>
    <li role="listitem">
      <a href="shortnotes.html#rebeccamurphey" class="title">JS Minty Fresh: Identifying and Eliminating
        Smells in Your Code Base
      </a>
      - Rebecca Murphey - Twitter: @rmurphey - Video:
      <a href="http://vimeo.com/53416986">http://vimeo.com/53416986</a>
    </li>
    <li role="listitem">
      <a href="shortnotes.html#alexrussell" class="title">What the legacy web is keeping from us</a>
      - Alex Russell - Video:
      <a href="http://vimeo.com/53373706">http://vimeo.com/53373706</a>
    </li>
  </ul>
</div>