 <div role="main">
   <a href="http://www.mirellavanteulingen.nl/rss.xml" class="rss-link">
    <img src="../img/rss-feed.svg" alt="link to my rss feed">
  </a>
  <h1>Blog</h1>

  <ul class="article_list" role="list">
      <% for (var blog_item in public.blog._data) {
          var blog_obj = public.blog._data[blog_item];
        { %>
        <% if(blog_obj.sub_page !== false) { %>
         <li class="item" role="listitem">
          <a href="<%=  blog_obj.sub_page %>.html"
              class="title">
              <%=  blog_obj.page_title %>
          </a>
          <%=  blog_obj.date %><br>
          <%=  blog_obj.description %>
         </li>
        <% } %>
      <% } }; %>
    </ul>
</div>