 <div role="main">
   <a href="http://www.mirellavanteulingen.nl/rss.xml" class="rss-link">
    <img src="../img/rss-feed.svg" alt="link to my rss feed">
  </a>
  <h1>Blog</h1>
  <ul class="article_list" role="list">
     <li class="item" role="listitem">
      <a href="customize-django-crispy-forms.html" class="title">Django form customization using Crispy Forms</a>
      At <a href="http://www.dreamsolution.nl">Dreamsolution</a> we regularly use Crispy Forms to generate
      complex forms in Django. I want to share some practical customization examples
      with Crispy Forms using the formhelper API.
    </li>
    <li class="item" role="listitem">
      <a href="cssday2013.html" class="title">CSSDay 2013 </a>
      Friday 14 june in Amsterdam I attended the CSSDay conference. Eight experts talked about 8 different CSS modules. The focus was on techniques of these modules we might not know about and the future of CSS. During the conference I learned that CSS is in very active development. It was an incredible, informative and awesome day. An high standard conference I've ever attended so far. I hope that there will be another one within 1 or 2 years.
    </li>
    <li class="item" role="listitem">
      <a href="customize-sublime.html" class="title">Customize Sublime text editor</a>
      At the Fronteers conference 2012 in Amsterdam, Addy Osmani used Sublime Text Editor in his presentation.
      The editor looked really interesting. Right after the conference I installed Sublime and looked around
      for packages which would make my life as front end developer easier and make editing more fun.
      This article is a small tutorial with tips to configure Sublime to your needs, interesting packages,
      how to customize a theme and links to useful documentation.
    </li>
  </ul>
</div>