 <div role="main">
   <h1>Blog</h1>

  <ul role="list">
      <% for (var blog_item in public.blog._data) {
          var blog_obj = public.blog._data[blog_item];
        { %>
        <% if(blog_obj.sub_page !== false) { %>
         <li role="listitem">
         <h2>
            <a href="<%=  blog_obj.sub_page %>.html"
                class="title">
                <%=  blog_obj.page_title %>
            </a>
          </h2>
          <div class="blog-date"><%=  blog_obj.date %></div>
          <%=  blog_obj.description %>
         </li>
        <% } %>
      <% } }; %>
    </ul>
</div>